@model Site_Web.App_Data.CLASSEMENT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CLASSEMENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CLA_TEMPS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLA_TEMPS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLA_RANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLA_RANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_E_COUREUR_COU.COU_NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_E_COUREUR_COU.COU_NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_R_COURSE_COR.COR_NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_R_COURSE_COR.COR_NOM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
