@using Site_Web.Models 
@using Site_Web.Class_Metier.ViewCustomModels;
@model ClassementViewModel

@{
    ViewBag.Title = "Index";
}
<section class="bg-fiche-unique">
<h2>Les classements</h2>
@if (Request.IsAuthenticated) {
    if (InscritCustom.getLevelAutenticate(User.Identity.Name) == NiveauAuthentification.SECRETAIRE ||
        InscritCustom.getLevelAutenticate(User.Identity.Name) == NiveauAuthentification.ADMIN)
        {
            <p>
                @Html.ActionLink("Creer nouveau classement", "Create")
            </p>
        }
}
<p>
    @Html.ActionLink("Afficher classement marathon", "Index", "Classements" , new { choixcourse = 1 }, null)
</p>

<p>
    @Html.ActionLink("Afficher classement du semi-marathon", "Index", "Classements", new { choixcourse = 2 }, null)
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lignes.FirstOrDefault().prenomCoureur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lignes.FirstOrDefault().nomCoureur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lignes.FirstOrDefault().nomCourse)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.lignes.FirstOrDefault().temps)
        </th>
        
        
        
    </tr>

@foreach (var item in Model.lignes) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomCoureur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenomCoureur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomCourse)
        </td>
        <td>
            
            @Html.DisplayFor(modelItem => item.temps)
        </td>
        
    </tr>
}

</table>
</section>