@using Site_Web.Models 
@using Site_Web.Class_Metier.ViewCustomModels;
@model ClassementViewModel

@{
    ViewBag.Title = "Index";
}
<section class="bg-fiche-unique">
<h2>Les classements</h2>
@if (Request.IsAuthenticated) {
    if (InscritCustom.getLevelAutenticate(User.Identity.Name) == NiveauAuthentification.SECRETAIRE ||
        InscritCustom.getLevelAutenticate(User.Identity.Name) == NiveauAuthentification.ADMIN)
        {
            <p>
                @Html.ActionLink("Creer nouveau classement", "Create")
            </p>
        }
}


    @foreach (var course in Model.courses)
    {
        <p class="lienClassement">
            @Html.ActionLink("Afficher classement de : "+course.COR_NOM, "Index", "Classements", new { choixcourse = course.COR_ID }, null)
        </p>
    }

    @using (Html.BeginForm("Index", "Classements"))
    {

        <fieldset style="margin-bottom: 15px">
            Categorie <select id="choixcategorie" name="choixcategorie">

                <option value=""></option>

                @foreach (var cat in Model.categories)
                {
                    <option value=@cat.CAT_ID>@Html.ActionLink(cat.CAT_LIBELLE, "Index", "Classements", new { choixcategorie = cat.CAT_ID }, null)</option>
                }

            </select>
       
        </fieldset>
    }
    

<table class="table">
    <tr>
        <th>
            Prénom du Coureur
        </th>
        <th>
            Nom du Coureur
        </th>
        <th>Categorie</th>
        <th>
            Course
        </th>
        
        <th>
            Temps
        </th>
        
        
        
    </tr>

@foreach (var item in Model.lignes) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomCoureur)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.prenomCoureur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categorieCoureur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomCourse)
        </td>
        <td>
            
            @Html.DisplayFor(modelItem => item.temps)
        </td>
        
    </tr>
}

</table>
</section>