@model IEnumerable<Site_Web.App_Data.PARTICIPATION>

@{
    ViewBag.Title = "Index";
}

<h2>Participations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PAR_PASTAPARTY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAR_TEMPSESTIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAR_NOMBREPASTAPARTY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAR_DOSSARD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_E_COUREUR_COU.COU_PRENOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_E_PAIEMENT_PAI.PAI_MOYENDEPAIEMENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_R_COURSE_COR.COR_NOM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PAR_PASTAPARTY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAR_TEMPSESTIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAR_NOMBREPASTAPARTY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAR_DOSSARD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_E_COUREUR_COU.COU_PRENOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_E_PAIEMENT_PAI.PAI_MOYENDEPAIEMENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_R_COURSE_COR.COR_NOM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PAR_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PAR_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PAR_ID })
        </td>
    </tr>
}

</table>
