@model IEnumerable<Site_Web.App_Data.DEFI>

@{
    ViewBag.Title = "Index";
}
<section class="bg-fiche-unique">
    <h2>Liste des défis</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DEF_NOM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DEF_NOMBREMAXPARTICIPANT)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DEF_NOM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEF_NOMBREMAXPARTICIPANT)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DEF_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DEF_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DEF_ID })
                </td>
            </tr>
        }

    </table>
</section>