@model Site_Web.App_Data.PARTICIPATIONENGROUPE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PARTICIPATIONENGROUPE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PEG_NOMBREPARTICIPANT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PEG_NOMBREPARTICIPANT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PEG_NOMBREPASTAPARTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PEG_NOMBREPASTAPARTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_E_PAIEMENT_PAI.PAI_MOYENDEPAIEMENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_E_PAIEMENT_PAI.PAI_MOYENDEPAIEMENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_R_CLUB_CLU.CLU_NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_R_CLUB_CLU.CLU_NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_R_COURSE_COR.COR_NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_R_COURSE_COR.COR_NOM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PEG_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
