@model IEnumerable<Site_Web.App_Data.PARTICIPATIONENGROUPE>

@{
    ViewBag.Title = "Index";
}

<h2>Participations en groupe</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PEG_NOMBREPARTICIPANT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PEG_NOMBREPASTAPARTY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_E_PAIEMENT_PAI.PAI_MOYENDEPAIEMENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_R_CLUB_CLU.CLU_NOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_R_COURSE_COR.COR_NOM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PEG_NOMBREPARTICIPANT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PEG_NOMBREPASTAPARTY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_E_PAIEMENT_PAI.PAI_MOYENDEPAIEMENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_R_CLUB_CLU.CLU_NOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_R_COURSE_COR.COR_NOM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PEG_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PEG_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PEG_ID })
        </td>
    </tr>
}

</table>
