@model Site_Web.App_Data.INFORMATIONPUBLIQUE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="bg-fiche-unique">
    <h2>Supprimer</h2>

    <h3>Etes-vous sûr(e) de vouloir le supprimer ?</h3>
    <div>
        <h4>INFORMATIONPUBLIQUE</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.INF_NOM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.INF_NOM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.INF_PRENOM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.INF_PRENOM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.INF_EMAIL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.INF_EMAIL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.INF_CONTENUE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.INF_CONTENUE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.INF_TITRE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.INF_TITRE)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</section>