@model Site_Web.App_Data.GENERATION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GENERATION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.T_E_CLASSEMENT_CLA.CLA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_E_CLASSEMENT_CLA.CLA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_E_COUREUR_COU.COU_PRENOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_E_COUREUR_COU.COU_PRENOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_R_COURSE_COR.COR_NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_R_COURSE_COR.COR_NOM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GEN_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
