@model Site_Web.App_Data.COURSE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>COURSE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COR_NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COR_NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COR_DISTANCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COR_DISTANCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COR_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COR_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COR_NOMBREMAXPARTICIPANT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COR_NOMBREMAXPARTICIPANT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COR_PRIX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COR_PRIX)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
