@model IEnumerable<Site_Web.App_Data.COURSE>

@using Site_Web.Class_Metier.ViewCustomModels;

@{
    ViewBag.Title = "Index";
}
<section class="bg-fiche-unique">
    <h2 class="titre">Liste des courses</h2>

    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.COR_NOM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COR_DISTANCE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COR_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COR_NOMBREMAXPARTICIPANT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COR_PRIX)
            </th>
            
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.COR_NOM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COR_DISTANCE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COR_DATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COR_NOMBREMAXPARTICIPANT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COR_PRIX)
                </td>

@if (Request.IsAuthenticated)
            {
                if (InscritCustom.getLevelAutenticate(User.Identity.Name) == NiveauAuthentification.SECRETAIRE ||
                    InscritCustom.getLevelAutenticate(User.Identity.Name) == NiveauAuthentification.ADMIN)
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.COR_ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.COR_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.COR_ID })
                        </td>
                }
            </tr>
            }
    </table>

    @if (Request.IsAuthenticated)
            {
                if (InscritCustom.getLevelAutenticate(User.Identity.Name) == NiveauAuthentification.SECRETAIRE ||
                InscritCustom.getLevelAutenticate(User.Identity.Name) == NiveauAuthentification.ADMIN)
                {
                    <p class="texteBoutton">
                        @Html.ActionLink("Créer une nouvelle course", "Create")
                    </p>
                }
        }
</section>

