@using Site_Web.App_Data;
@using Site_Web.Class_Metier.ViewCustomModels;

@model CoureurInscriptions
@{
    ViewBag.Title = "AddCoureur";
}

<h2>Ajouter un coureur</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="tableCoureur">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.listCoureur.FirstOrDefault().COU_PRENOM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listCoureur.FirstOrDefault().COU_NOM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listCoureur.FirstOrDefault().COU_EMAIL)
            </th>
            <th></th>
        </tr>
        @for (int i = 0; i < Model.listCoureur.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.listCoureur[i].COU_PRENOM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.listCoureur[i].COU_NOM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.listCoureur[i].COU_EMAIL)
                </td>

                <td>
                    @Html.CheckBox("AddCoureur", Model.listEtat[i])
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="Ajouter" />
}
