@using Site_Web.App_Data;
@using Site_Web.Class_Metier.ViewCustomModels;

@model InscriptionClubCourreurDefie
@{
    ViewBag.Title = "AddCoureur";
}

<h2>Ajouter un coureur</h2>

@using (Html.BeginForm(new { ListJoueurViewModel = Model }))
{
    <div class="form-horizontal">                  
        @Html.HiddenFor(model => model.defi.DEF_ID)
        @Html.HiddenFor(model => model.defi.DEF_NOM)
        @Html.HiddenFor(model => model.defi.DEF_NOMBREMAXPARTICIPANT)
        @Html.HiddenFor(model => model.defi.DEF_EXPLICATION)

        <div class="form-group">
             @Html.LabelFor(model => model.defi.DEF_ID, "DEF_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                 @Html.DropDownList("DEF_ID", null, htmlAttributes: new { @class = "form-control" })
                 @Html.ValidationMessageFor(model => model.defi.DEF_ID, "", new { @class = "text-danger" })
            </div>
            
        </div>

        <table class="tableCoureur">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.listCoureur.FirstOrDefault().COU_PRENOM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.listCoureur.FirstOrDefault().COU_NOM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.listCoureur.FirstOrDefault().COU_EMAIL)
                </th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.listCoureur.Count; i++)
            {
                @Html.HiddenFor(model => Model.listCoureur[i].COU_ID)
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listCoureur[i].COU_PRENOM)
                        @Html.HiddenFor(modelItem => Model.listCoureur[i].COU_PRENOM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listCoureur[i].COU_NOM)
                        @Html.HiddenFor(modelItem => Model.listCoureur[i].COU_NOM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listCoureur[i].COU_EMAIL)
                        @Html.HiddenFor(modelItem => Model.listCoureur[i].COU_EMAIL)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => modelItem.listEtat[i])
                    </td>
                </tr>
            }
        </table>
        <input type="submit" value="Ajouter" />
    </div>
}
