@model IEnumerable<Site_Web.App_Data.CLUB>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des clubs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CLU_NOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLU_LICENCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLU_EMAIL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CLU_NOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLU_LICENCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLU_EMAIL)
        </td>
        <td>            
            @Html.ActionLink("Edit", "Edit", new { id = item.CLU_ID }) |           
            @Html.ActionLink("AddCoureur", "AddCoureur", new { id = item.CLU_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CLU_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CLU_ID })
        </td>
    </tr>
}

</table>
