<!DOCTYPE html>
<html>
<head>
    @using Site_Web.Class_Metier.ViewCustomModels;

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Marathon Annecy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Site.js")

</head>
<body>
    <img src="~/Resources/background.jpg" class="bg"/>
    <section id="headerSite">
        <div id="logoMarathon">
        </div>
        <div id="blocConnexion">
            @if (Request.IsAuthenticated) {
                @Html.Encode(User.Identity.Name);
                @Html.ActionLink("Sign Out", "Logout", "Inscrits", null, new { @class = "btn btn-primary" });
                    
  
                    if(InscritCustom.getLevelAutenticate(User.Identity.Name) == NiveauAuthentification.SECRETAIRE ||
                        InscritCustom.getLevelAutenticate(User.Identity.Name) == NiveauAuthentification.ADMIN)
                    {
                    @Html.ActionLink("Profile", "EditProfile", "Coureurs");
                    @Html.ActionLink("Créer fédération", "Modif", "Federations");
                    }
                    else{
                        @Html.ActionLink("Profile", "EditProfile", "Clubs");  
                   }                  
              }
             else {
                @Html.ActionLink("Register", "Register", "Inscrits", null, new { @class = "btn btn-primary" });
                @Html.ActionLink("Sign In", "Login", "Inscrits", null, new { @class = "btn btn-primary" });
            }  
            
        </div>
        <nav id="menuSite">
            <ul>
                <li class="menu">
                    <a class="titre">Inscription</a>
                    <!-- Sous-Menu1 -->
                    <div class="ssMenu">
                        <ul class="texte">
                            
                            <li>@Html.ActionLink("Telecharger le formulaire d'inscription individuelle", "Telecharge", "Home", new { Fichier = "InscriptionMarathonAnnecyIndividuelle2015.pdf" }, null)</li>
                            <li>@Html.ActionLink("Telecharger le formulaire d'inscription d'un Club", "Telecharge", "Home", new { Fichier = "InscriptionMarathonAnnecyClub2015.pdf" }, null)</li>
                            <li><a href="http://www.totofaitduvelo.com">Inscription en ligne</a></li>
                        </ul>
                    </div>
                    <!-- Fin Sous Menu-->
                    <!-- le </li> et <li class="menu"> sont collés pour éviter le problème du white space
                    quand elles sont en display:inline-block -->
                </li><li class="menu">
                    <a class="titre">Courses</a>
                    <!-- Sous-Menu2 -->
                    <div class="ssMenu">
                        <ul class="texte">
                            <li><a href="http://www.totofaitduvelo.com">Liste des courses</a></li>
                            <li>@Html.ActionLink("Liens vers Index 2", "Index2", "Home")</li>
                            <li>@Html.ActionLink("Lien vers Temps par borne", "Index", "TempsCoureurBorne")</li>
                        </ul>
                    </div>
                    <!-- Fin Sous Menu-->
                    <!-- le </li> et <li class="menu"> sont collés pour éviter le problème du white space
                        quand elles sont en display:inline-block -->
                </li><li class="menu">
                    <a class="titre">Classement</a>
                    <!-- Sous-Menu3 -->
                    <div class="ssMenu">
                        <ul class="texte">
                            <li><a href="http://www.totofaitduvelo.com">Général</a></li>
                            <li><a href="http://www.totofaitduvelo.com">Par course</a></li>
                        </ul>
                    </div>
                    <!-- Fin Sous Menu-->
                </li>
            </ul>
        </nav>

    </section>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="lienFooter">Marathon Annecy 2015</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
