<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Site.js")

</head>
<body>
    <img src="~/Resources/background.jpg" class="bg"/>
    <section id="headerSite">
        <div id="logoMarathon">
        </div>
        <div id="blocConnexion">
            @Html.Action("_Login", "Account")
        </div>
        <nav id="menuSite">
            <ul>
                <li class="menu">
                    <a class="titre">Inscription</a>
                    <!-- Sous-Menu1 -->
                    <div class="ssMenu">
                        <ul class="texte">
                            <li><a href="http://www.totofaitduvelo.com">Teléchargement du formulaire</a></li>
                            <li><a href="http://www.totofaitduvelo.com">Inscription en ligne</a></li>
                        </ul>
                    </div>
                    <!-- Fin Sous Menu-->
                    <!-- le </li> et <li class="menu"> sont collés pour éviter le problème du white space
                    quand elles sont en display:inline-block -->
                </li><li class="menu">
                    <a class="titre">Courses</a>
                    <!-- Sous-Menu2 -->
                    <div class="ssMenu">
                        <ul class="texte">
                            <li><a href="http://www.totofaitduvelo.com">Liste des courses</a></li>
                        </ul>
                    </div>
                    <!-- Fin Sous Menu-->
                    <!-- le </li> et <li class="menu"> sont collés pour éviter le problème du white space
                        quand elles sont en display:inline-block -->
                </li><li class="menu">
                    <a class="titre">Classement</a>
                    <!-- Sous-Menu3 -->
                    <div class="ssMenu">
                        <ul class="texte">
                            <li><a href="http://www.totofaitduvelo.com">Général</a></li>
                            <li><a href="http://www.totofaitduvelo.com">Par course</a></li>
                        </ul>
                    </div>
                    <!-- Fin Sous Menu-->
                </li>
            </ul>
        </nav>

    </section>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="lienFooter">Marathon Annecy 2015</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
