@model Site_Web.Models.LoginViewModel

<div>    

@if (Model != null)
{
    <div class="formConnexion">
        <label>Model.Email</label>
    </div>
    @Html.ActionLink("Deconnexion", "Index", "Home", null, new { @class = "btn btn-default" })

}
else
{
    <div class="formConnexion">
        <label>Email</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="formConnexion">
        <label>Mdp</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    @Html.ActionLink("Connexion", "Index", "Home", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Inscription", "Index", "Home", null, new { @class = "btn btn-default" })
}



</div>