@model IEnumerable<Site_Web.App_Data.TEMPSCOUBORNE>

@{
    ViewBag.Title = "Index";
}

<h2>Temps coureur par borne</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TCB_TEMPS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_E_COUREUR_COU.COU_NOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_R_BORNE_BOR.BOR_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TCB_TEMPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_E_COUREUR_COU.COU_NOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_R_BORNE_BOR.BOR_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
