@using Site_Web.Models
@using Site_Web.Class_Metier.ViewCustomModels;
@model TempsBorneViewModel

@{
    ViewBag.Title = "Index";
}
<section class="bg-fiche-unique">
    <h2>Temps coureur par borne</h2>

@if (Request.IsAuthenticated)
{
    if (InscritCustom.getLevelAutenticate(User.Identity.Name) == NiveauAuthentification.SECRETAIRE ||
        InscritCustom.getLevelAutenticate(User.Identity.Name) == NiveauAuthentification.ADMIN)
    {
        <p>
            @Html.ActionLink("Creer nouveau temps par borne", "Create")
        </p>
    }
}
    <table class="table">
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prenom
            </th>
            @foreach (var test in Model.lignes)
            {
                foreach (var nb in test.nbBornes)
                {
                    <th>
                        @Html.DisplayFor(modelItem => nb) 
                    </th>
                }

                break;
            }
            
        </tr>

        @foreach (var item in Model.lignes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nomCoureur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prenomCoureur)
                </td>
                @foreach (var nb in item.nbBornes)
                {
                    
                    String result = "" ;
                    
                    
                    foreach (var bra in item.TempsBorne)
                    {
                        if (nb == bra.Key)
                        {
                            result = bra.Value;
                            
                        }
                        
                       
                    }
                    
                    <td>
                        @Html.DisplayFor(modelItem => result)
                    </td>
                   
                }
            
            </tr>
        }

    </table>
</section>