@model Site_Web.App_Data.COUREUR

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>COUREUR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COU_NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COU_NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COU_PRENOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COU_PRENOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COU_DATENAISSANCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COU_DATENAISSANCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COU_SEXE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COU_SEXE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COU_NUMEROLICENCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COU_NUMEROLICENCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COU_FEDERATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COU_FEDERATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COU_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COU_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COU_ADRESSE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COU_ADRESSE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COU_CODEPOSTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COU_CODEPOSTAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COU_VILLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COU_VILLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COU_PAYS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COU_PAYS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COU_TELEPHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COU_TELEPHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COU_FAX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COU_FAX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COU_ENTREPRISEGROUPEASSOCIATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COU_ENTREPRISEGROUPEASSOCIATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COU_CERTIFICATMEDICAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COU_CERTIFICATMEDICAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_R_FEDERATION_FED.FED_NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_R_FEDERATION_FED.FED_NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_R_CLUB_CLU.CLU_NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_R_CLUB_CLU.CLU_NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_R_CATEGORIE_CAT.CAT_LIBELLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_R_CATEGORIE_CAT.CAT_LIBELLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_E_INSCRIT_INS.INS_LOGIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_E_INSCRIT_INS.INS_LOGIN)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
