@model IEnumerable<Site_Web.App_Data.COUREUR>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des coureurs</h2>

<p>
    @Html.ActionLink("Creer Coureur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.COU_PRENOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COU_NOM)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.T_R_CLUB_CLU.CLU_NOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_R_CATEGORIE_CAT.CAT_LIBELLE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.COU_PRENOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COU_NOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_R_CLUB_CLU.CLU_NOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_R_CATEGORIE_CAT.CAT_LIBELLE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COU_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COU_ID })
            <br />
            @Html.ActionLink("Voir infos coureur et ses temps par borne", "Details", new { id = item.COU_ID })
        </td>
    </tr>
    
}

</table>
