
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<ul style="background:#0026ff">
<li>@Html.ActionLink("Bornes", "Index", "Bornes")</li>
<li>@Html.ActionLink("Categories", "Index", "Categories")</li>
<li>@Html.ActionLink("Classements", "Index", "Classements")</li>
<li>@Html.ActionLink("Clubs", "Index", "Clubs")</li>
<li>@Html.ActionLink("Coureurs", "Index", "Coureurs")</li>
<li>@Html.ActionLink("Courses", "Index", "Courses")</li>
<li>@Html.ActionLink("Defis", "Index", "Defis")</li>
<li>@Html.ActionLink("Generations", "Index", "Generations")</li>
<li>@Html.ActionLink("Lots", "Index", "Lots")</li>
<li>@Html.ActionLink("Paiments", "Index", "Paiments")</li>
<li>@Html.ActionLink("Participations", "Index", "Participations")</li>
<li>@Html.ActionLink("ParticipationsEnGroupe", "Index", "ParticipationsEnGroupe")</li>
<li>@Html.ActionLink("TempsCoureurBorne", "Index", "TempsCoureurBorne")</li>
</ul>