
@{
    ViewBag.Title = "Index CRUD";
}

<h2>Index2</h2>

<ul class="bg-fiche-unique">
    <li>@Html.ActionLink("Bornes", "Index", "Bornes")</li>
    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
    <li>@Html.ActionLink("Classements", "Index", "Classements")</li>
    <li>@Html.ActionLink("Clubs", "Index", "Clubs")</li>
    <li>@Html.ActionLink("Coureurs", "Index", "Coureurs")</li>
    <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
    <li>@Html.ActionLink("Defis", "Index", "Defis")</li>
    <li>@Html.ActionLink("Informations publique", "Index", "InformationPublique")</li>
    <li>@Html.ActionLink("Lots", "Index", "Lots")</li>
    <li>@Html.ActionLink("Paiments", "Index", "Paiments")</li>
    <li>@Html.ActionLink("Participations", "Index", "Participations")</li>
    <li>@Html.ActionLink("Pasta party", "Index", "PastasParty")</li>
    <li>@Html.ActionLink("Temps Coureur par Borne", "Index", "TempsCoureurBorne")</li>
    <li>@Html.ActionLink("inscrire coureur au club", "AddCoureur", "Clubs")</li>
    <li>@Html.ActionLink("inscrire coureur au défi", "AddInscritDefi", "Clubs")</li>
    <li>@Html.ActionLink("inscrire coureur course", "InscriptionCoureurCourse", "Courses")</li>
</ul>